@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --mainBlue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #ffffff;
  --mainBlack: #292f36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/* REM values to target root element 1REM = 16px */

/* preloader */
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--mainWhite);
  z-index: 999;
}
.hidePreloader {
  display: none !important;
}
/* navbar */
.navbar {
  background-color: white;
}
.navbar-toggler-icon {
  color: var(--mainYellow);
  font-size: 1em;
}

.navbar-toggler {
  outline-color: var(--mainBlue) !important;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
}

.nav-link {
  color: var(--mainBlack);
  text-transform: capitalize;
  transition: 0.4s  ease-in-out;
}
.nav-link:hover {
  color: var(--mainBlue);
}
.nav-icon {
  font-size: 2rem;
  color: var(--mainBlue);
  text-decoration: none !important;
  /* transition: .4s color ease-in-out; */
  transition-duration: 0.4s;
  transition-delay: ease-in-out;
  transition-property: color;
}
.nav-icon:hover {
  color: var(--mainBlack);
}
/*end navbar */

/* header  */
header {
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  overflow: hidden;
}
.height-max {
  min-height: calc(100vh - 76px);
  background: url("../img/headerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* animation: infinite zoom 20s 2s; */
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translatex(-7%);
  }
  100% {
    transform: scale(1);
  }
}
.title-heading {
  background: rgb(0, 0, 0, 0.4, green, blue);
  border-left: 0.3rem solid var(--mainBlue);
}
.title {
  font-weight: 700;
  font-size: 1.9rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
.title-icon {
  color: var(--mainBlue);
  text-decoration: none;
}
.title-icon:hover {
  color: var(--mainBlue);
  opacity: 0.6;
}
/* end header */

/* section title */
.section-title-special {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
/* slills */
.skills-icon {
  font-size: 3rem;
  color: var(--mainYellow);
  background-color: var(--mainGrey);
}
.skills-icon:hover {
  color: var(--mainYellow);
}
.slills-underline {
  width: 4rem;
  height: 0.3rem;
  background-color: var(--mainBlue);
  margin: 1rem auto;
}
/* end slills */

/*end section title */

/* inventory */
.inventory {
  background-color: var(--mainGrey);
}
.car-card {
  border-radius: 0px !important;
}
.car-img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.car-value {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
}
.car-value:hover {
  clip-path: polygon(0% 0, 100% 0, 85% 100%, 20% 100%);
  transition: all 0.3s linear;
  cursor: pointer;
}
.question {
  background: url(../img/questionBcg.jpeg) center/ cover fixed no-repeat;
}
.question-gray {
  background-color: rgba(79, 109, 122, 0.75);
}
.question-yellow {
  background-color: rgba(277, 181, 5, 0.75);
}
.question-icon {
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover {
  color: var(--mainBlue);
  transform: translateY(-10%);
}
.question-info {
  color: var(--mainWhite);
}
.featured {
  background: var(--mainGrey);
}
.featured-item {
  background-color: var(--mainWhite);
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.featured-item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.featured-icon:hover {
  color: var(--mainBlue);
}
.img-container {
  background-color: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo {
  transition: all 1s ease-in-out;
}
.img-container:hover > .featured-photo {
  transform: scale(2) translateY(-20%);
  opacity: 0.5;
}
.featured-link {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--mainBlack);
  font-size: 3rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: al 1s ease-in-out;
}
.featured-link:hover {
  color: var(--mainWhite);
}
.img-container:hover > .featured-link {
  opacity: 1;
}
/* gallery */

.gallery-item {
  background-color: var(--mainYellow);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.gallery-img {
  transition: all 1s ease-in-out;
  opacity: 1;
}
.gallery-item:hover .gallery-img {
  opacity: 0.5;
  transform: scale(2);
}
.gallery-item::after {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainWhite);
  outline-offset: -2rem;
  transition: all 1s ease-in-out;
  transform: scale(0);
}
.gallery-item:hover:after {
  transform: scale(1);
}
/* end gallery */
/* contact */
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/car-american-1.jpeg") center/cover fixed no-repeat;
  color: var(--mainYellow);
}
.contact-input {
  font-size: 1.5rem;
  text-transform: capitalize;
  background: transparent;
  color: var(--mainYellow);
  border-color: var(--mainYellow) !important;
}
.contact-input::placeholder {
  color: var(--mainYellow);
}
.contact-input:focus {
  background: transparent;
  border-color: var(--mainYellow);
}
.contact-btn {
  text-transform: uppercase;
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.contact-btn:hover {
  background-color: var(--mainYellow);
}
/* services section */
.services {
  position: relative;
  min-height: 85vh;
  min-width: 100%;
  margin: 0 auto;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.video-container {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.video-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--transparentBlue);
  z-index: -2;
}
.service {
  background: var(--mainBlack);
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
}
.service:hover {
  background-color:var(--mainWhite);
  color: var(--mainBlack);
  padding-left: 2.2rem !important;
}
.service-icon {
  font-size: 4rem;
  color: var(--mainYellow);
}
/* customer */  
.customer-card-body{
  margin-top: -4rem!important;
  color: var(--mainGrey);
}
.customer-img{
  border:0.4rem solid var(--mainWhite);
  cursor: pointer;
}
.customer-name{
  color: var(--mainBlue);
}
.customer-icon{
  font-size: 2rem;
  color: var(--mainGrey);
}
.customer-quate{
  max-width: 90%;
}
/* footer */
.footer{
  background-color: var(--mainBlack);
}
.footer-icon{
  font-size: 1.5rem;
   text-decoration: none;
   color:var(--mainYellow) ;
   transition: all 1s ease-in-out;
}
.footer-icon:hover{
  color: var(--mainBlue);
}